In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
guion = pd.read_csv("./files/simpsons_script_lines.csv")
guion.head(3)

C:\Users\johan\AppData\Local\Temp\ipykernel_19748\246455417.py:1: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  guion = pd.read_csv("./files/simpsons_script_lines.csv")

,index,id,episode_id,number,raw_text,timestamp_in_ms,speaking_line,character_id,location_id,raw_character_text,raw_location_text,spoken_words,normalized_text,word_count
0,0,9549,32,209,"Miss Hoover: No, actually, it was a little of ...",848000,True,464.0,3.0,Miss Hoover,Springfield Elementary School,"No, actually, it was a little of both. Sometim...",no actually it was a little of both sometimes ...,31.0
1,1,9550,32,210,Lisa Simpson: (NEAR TEARS) Where's Mr. Bergstrom?,856000,True,9.0,3.0,Lisa Simpson,Springfield Elementary School,Where's Mr. Bergstrom?,wheres mr bergstrom,3.0
2,2,9551,32,211,Miss Hoover: I don't know. Although I'd sure l...,856000,True,464.0,3.0,Miss Hoover,Springfield Elementary School,I don't know. Although I'd sure like to talk t...,i dont know although id sure like to talk to h...,22.0

In [3]:
guion.columns

Index(['index', 'id', 'episode_id', 'number', 'raw_text', 'timestamp_in_ms',
       'speaking_line', 'character_id', 'location_id', 'raw_character_text',
       'raw_location_text', 'spoken_words', 'normalized_text', 'word_count'],
      dtype='object')

In [4]:
# Columnas a eliminar : 'normalized_text','raw_text','timestamp_in_ms','speaking_line'

def eliminar_columnas(df,column):
    return df.drop(columns=column)
lista_col = ['index','normalized_text','raw_text','timestamp_in_ms','speaking_line']
guion = eliminar_columnas(guion,lista_col)

In [6]:
guion.head()

,id,episode_id,number,character_id,location_id,raw_character_text,raw_location_text,spoken_words,word_count
0,9549,32,209,464.0,3.0,Miss Hoover,Springfield Elementary School,"No, actually, it was a little of both. Sometim...",31.0
1,9550,32,210,9.0,3.0,Lisa Simpson,Springfield Elementary School,Where's Mr. Bergstrom?,3.0
2,9551,32,211,464.0,3.0,Miss Hoover,Springfield Elementary School,I don't know. Although I'd sure like to talk t...,22.0
3,9552,32,212,9.0,3.0,Lisa Simpson,Springfield Elementary School,That life is worth living.,5.0
4,9553,32,213,40.0,3.0,Edna Krabappel-Flanders,Springfield Elementary School,The polls will be open from now until the end ...,33.0

In [5]:
episodes= pd.read_csv("./files/simpsons_episodes.csv")
episodes.head(3)

,index,id,image_url,imdb_rating,imdb_votes,number_in_season,number_in_series,original_air_date,original_air_year,production_code,season,title,us_viewers_in_millions,video_url,views
0,0,10,http://static-media.fxx.com/img/FX_Networks_-_...,7.4,1511.0,10,10,1990-03-25,1990,7G10,1,Homer's Night Out,30.3,http://www.simpsonsworld.com/video/275197507879,50816.0
1,1,12,http://static-media.fxx.com/img/FX_Networks_-_...,8.3,1716.0,12,12,1990-04-29,1990,7G12,1,Krusty Gets Busted,30.4,http://www.simpsonsworld.com/video/288019523914,62561.0
2,2,14,http://static-media.fxx.com/img/FX_Networks_-_...,8.2,1638.0,1,14,1990-10-11,1990,7F03,2,"Bart Gets an ""F""",33.6,http://www.simpsonsworld.com/video/260539459671,59575.0

In [6]:
# Columnas a eliminar : 'image_url','number_in_season',	'number_in_series',	'original_air_date', 'original_air_year','production_code',	'season', 'video_url', 'views'

lista_col = ['index','image_url', 'number_in_season',	'number_in_series',	'original_air_date', 'original_air_year','production_code',	'season', 'video_url', 'views']
episodes = episodes.drop(lista_col, axis=1)

In [7]:
episodes.head()

,id,imdb_rating,imdb_votes,title,us_viewers_in_millions
0,10,7.4,1511.0,Homer's Night Out,30.3
1,12,8.3,1716.0,Krusty Gets Busted,30.4
2,14,8.2,1638.0,"Bart Gets an ""F""",33.6
3,17,8.1,1457.0,Two Cars in Every Garage and Three Eyes on Eve...,26.1
4,19,8.0,1366.0,Dead Putting Society,25.4

In [8]:
episodes[episodes["id"] == 32]

    id  imdb_rating  imdb_votes              title  us_viewers_in_millions
10  32          8.5      1684.0  Lisa's Substitute                    17.7

In [9]:
guion[guion["episode_id"] == 32]

,id,episode_id,number,character_id,location_id,raw_character_text,raw_location_text,spoken_words,word_count
0,9549,32,209,464.0,3.0,Miss Hoover,Springfield Elementary School,"No, actually, it was a little of both. Sometim...",31.0
1,9550,32,210,9.0,3.0,Lisa Simpson,Springfield Elementary School,Where's Mr. Bergstrom?,3.0
2,9551,32,211,464.0,3.0,Miss Hoover,Springfield Elementary School,I don't know. Although I'd sure like to talk t...,22.0
3,9552,32,212,9.0,3.0,Lisa Simpson,Springfield Elementary School,That life is worth living.,5.0
4,9553,32,213,40.0,3.0,Edna Krabappel-Flanders,Springfield Elementary School,The polls will be open from now until the end ...,33.0
...,...,...,...,...,...,...,...,...,...
158243,9544,32,204,464,3.0,Miss Hoover,Springfield Elementary School,I'm back.,2.0
158244,9545,32,205,464,3.0,Miss Hoover,Springfield Elementary School,"You see, class, my Lyme disease turned out to ...",10.0
158245,9546,32,206,464,3.0,Miss Hoover,Springfield Elementary School,Psy-cho-so-ma-tic.,1.0
158246,9547,32,207,119,3.0,Ralph Wiggum,Springfield Elementary School,Does that mean you were crazy?,6.0
158247,9548,32,208,4,3.0,JANEY,Springfield Elementary School,"No, that means she was faking it.",7.0

In [10]:
episodes = episodes.rename(columns={'id': 'episode_id'})

In [11]:
episodes.head()

,episode_id,imdb_rating,imdb_votes,title,us_viewers_in_millions
0,10,7.4,1511.0,Homer's Night Out,30.3
1,12,8.3,1716.0,Krusty Gets Busted,30.4
2,14,8.2,1638.0,"Bart Gets an ""F""",33.6
3,17,8.1,1457.0,Two Cars in Every Garage and Three Eyes on Eve...,26.1
4,19,8.0,1366.0,Dead Putting Society,25.4

In [14]:
guion[guion["episode_id"] == 10]

,id,episode_id,number,character_id,location_id,raw_character_text,raw_location_text,spoken_words,word_count
151373,2831,10,55,169,154.0,Eugene Fisk,PARTY ROOM,"I love you, Dad.",4.0
151471,2832,10,56,168,154.0,Mr. Fisk,PARTY ROOM,"I love you, son.",4.0
151534,2868,10,92,NaN,155.0,NaN,The Rusty Barnacle,NaN,NaN
151537,2776,10,0,NaN,5.0,NaN,Simpson Home,NaN,NaN
151538,2777,10,1,NaN,91.0,NaN,Simpson Bathroom,NaN,NaN
...,...,...,...,...,...,...,...,...,...
151834,3072,10,296,190,171.0,Theatre-goer #3,Sapphire Lounge,She's so cute. Here's mine.,5.0
151835,3073,10,297,187,171.0,Gulliver Dark,Sapphire Lounge,"You know, my Mom sounded a little down the oth...",17.0
151836,3074,10,298,1,171.0,Marge Simpson,Sapphire Lounge,Homer!,1.0
151837,3075,10,299,2,171.0,Homer Simpson,Sapphire Lounge,Marge!,1.0
151838,3076,10,300,8,171.0,Bart Simpson,Sapphire Lounge,"All right, folks show's over. No more to see, ...",19.0

In [15]:
guion_episodes = pd.merge(guion, episodes, on="episode_id",how='outer')
guion_episodes.head()

,id,episode_id,number,character_id,location_id,raw_character_text,raw_location_text,spoken_words,word_count,imdb_rating,imdb_votes,title,us_viewers_in_millions
0,1.0,1,0.0,NaN,1.0,NaN,Street,NaN,NaN,8.2,3734.0,Simpsons Roasting on an Open Fire,26.7
1,2.0,1,1.0,NaN,2.0,NaN,Car,NaN,NaN,8.2,3734.0,Simpsons Roasting on an Open Fire,26.7
2,3.0,1,2.0,1,2.0,Marge Simpson,Car,"Ooo, careful, Homer.",3.0,8.2,3734.0,Simpsons Roasting on an Open Fire,26.7
3,4.0,1,3.0,2,2.0,Homer Simpson,Car,There's no time to be careful.,6.0,8.2,3734.0,Simpsons Roasting on an Open Fire,26.7
4,5.0,1,4.0,2,2.0,Homer Simpson,Car,We're late.,2.0,8.2,3734.0,Simpsons Roasting on an Open Fire,26.7

In [20]:
guion_episodes.dtypes

id                        float64
episode_id                  int64
number                    float64
character_id               object
location_id               float64
raw_character_text         object
raw_location_text          object
spoken_words               object
word_count                float64
imdb_rating               float64
imdb_votes                float64
title                      object
us_viewers_in_millions    float64
dtype: object

In [21]:
guion_episodes.to_csv('files/guion_episodes.csv')

In [ ]:
# Revisar si eliminar más columnas , cambiar tipo.